<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>lamborghini.jpg</string>
		<key>name</key>
		<string>兰博基尼</string>
		<key>url</key>
		<string>http://baike.baidu.com/view/9686.htm</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ferrari.jpg</string>
		<key>name</key>
		<string>法拉利</string>
		<key>url</key>
		<string>http://baike.baidu.com/view/4490.htm</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bugatti.jpg</string>
		<key>name</key>
		<string>布加迪</string>
		<key>url</key>
		<string>http://baike.baidu.com/subview/6847/15959460.htm</string>
	</dict>
	<dict>
		<key>image</key>
		<string>maserati.jpg</string>
		<key>name</key>
		<string>玛莎拉蒂</string>
		<key>url</key>
		<string>http://baike.baidu.com/view/25554.htm</string>
	</dict>
	<dict>
		<key>image</key>
		<string>alfa_romeo.jpeg</string>
		<key>name</key>
		<string>阿尔法罗密欧</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=3lL3Wh2IVRHrJFHqSlO94qUMhb8iv6JWMcW-80GOJCgyqtbxiZ81XKlv9HG78Xa99I6kwVRNGmSdLYFtbVh1NXH3ZDoKEVorCxKTQulrYXaiB0nMeB50qL8jW9IuMXakzaVhgwdZ1Ww-jrmYSY70glzLSvOrvJAOjm_4JGhryMq</string>
	</dict>
	<dict>
		<key>image</key>
		<string>fiat.jpg</string>
		<key>name</key>
		<string>菲亚特</string>
		<key>url</key>
		<string>http://baike.baidu.com/link?url=rB_zv94lFsM5XcjLEzrbHBZBM6PxQvFunzyhEeC_UwYtEEJN9Egnx591Hgd0w4wf</string>
	</dict>
	<dict>
		<key>image</key>
		<string>porsche.jpg</string>
		<key>name</key>
		<string>保时捷</string>
		<key>url</key>
		<string>http://baike.baidu.com/view/5523.htm</string>
	</dict>
	<dict>
		<key>image</key>
		<string>audi.jpg</string>
		<key>name</key>
		<string>奥迪</string>
		<key>url</key>
		<string>http://baike.baidu.com/subview/13873/6979550.htm</string>
	</dict>
	<dict>
		<key>image</key>
		<string>benz.jpg</string>
		<key>name</key>
		<string>梅赛德斯奔驰</string>
		<key>url</key>
		<string>http://baike.baidu.com/view/5345033.htm</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bmw.jpg</string>
		<key>name</key>
		<string>宝马</string>
		<key>url</key>
		<string>http://baike.baidu.com/subview/2450/8155822.htm</string>
	</dict>
</array>
</plist>
