<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>pic.jpg</string>
		<key>name</key>
		<string>发布询价</string>
	</dict>
	<dict>
		<key>image</key>
		<string>pic.jpg</string>
		<key>name</key>
		<string>帮我找</string>
	</dict>
	<dict>
		<key>image</key>
		<string>pic.jpg</string>
		<key>name</key>
		<string>品牌库</string>
	</dict>
</array>
</plist>
